@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.sb-show-main {
  padding-top: 80px !important;
  margin-left: auto;
  margin-right: auto;
}

#storybook-root {
  display: flex;
  justify-content: center;
}
