@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Outline */
  --color-royal-blue: rgba(68, 76, 231, 0.12);

  /* Breakpoints */
  --breakpoint-*: initial;
  /* 768px */
  --breakpoint-tablet: 48rem;
  /* 1440px */
  --breakpoint-desktop: 90rem;
}

body {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  font-family: "Noto Sans", sans-serif, Arial, "Helvetica Neue", Helvetica;
}

.sb-show-main {
  padding-top: 0px !important;
  margin-left: auto;
  margin-right: auto;
}

#storybook-root {
  display: flex;
  justify-content: center;
}

.my-drop-shadow {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.10)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
}

.hero-section {
  background-color: #ffffff;
}

.hero-section--drop-shadow {
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.05);
}

@media screen and (min-width: 768px) {
  .hero-section--drop-shadow {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.06), 0px 4px 6px -1px rgb(0 0 0 / 0.10);
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: linear-gradient(to bottom, #f9fafb, #edf0f3);
  }

  .hero-section--drop-shadow {
    box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 0.05), 0px 10px 15px -3px rgb(0 0 0 / 0.10);
  }
}
