@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Outline */
  --color-royal-blue: rgba(68, 76, 231, 0.12);
}

body {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.sb-show-main {
  padding-top: 0px !important;
  margin-left: auto;
  margin-right: auto;
}

#storybook-root {
  display: flex;
  justify-content: center;
}

.my-drop-shadow {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.10)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
}
